

earthengine-api


git+https://github.com/BuddyVolly/eeSar.git

numpy
pandas
geopandas
tqdm
seaborn
matplotlib
scipy
scikit-learn
pylab-sdk

# to predict the model
rasterio
dask[diagnostics]
tensorflow==2.12.0