toml

earthengine-api

git+https://github.com/BuddyVolly/eeSar.git

numpy
pandas
geopandas
tqdm
seaborn
matplotlib
plotly
scipy
scikit-learn
pylab-sdk

# to predict the model
rasterio
dask[diagnostics]
tensorflow==2.12.0

# This is used for map visualization
git+https://github.com/12rambau/sepal_ui.git@sepal_pre_release
